* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #F8BD6DFF;
}


/*.container {
   display: flex;
   justify-content: center;
   align-items: center;
}*/

.form {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 20px;
   margin: 80px 0;
}

.heading { 
   margin: 40px 0;
   text-align: center;
   font-size: 50px;
   font-weight: 600;
   color: #f1f1f1;
}

form .box-input input {
   width: 450px;
   height: 40px;
   border: none;
   font-size: 18px;
   font-weight: 500;
   color: #333;
   outline: none;
}
form .box-input {
   display: flex;
   align-items: center;
}


form .box-input button {
   width: 50px;
   height: 40px;
   border: none;
   outline: none;
   background: white;
}

form .box-input button i {
   font-size: 28px;
   background: #F8BD6DFF;
   color: white;
}


/* Custom Selector */
section {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: none;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
}


.select {
   margin: 1rem;
   position: relative;
   overflow: hidden;
}
form  .select .filter-todo {
   width: 12rem;
   height: 40px;
   font-size: 22px;
   font-weight: 550;
   cursor: pointer;
   color: #ff6f47;
   border: none;
   outline: none;
}

/* Arrow */
.select::after {
   content: "\25BC";
   position: absolute;
   top: 0;
   right: 0;
   padding: 1rem;
   color: #ff6f47;
   cursor: pointer;
   pointer-events: none;
}

.todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.todo-list {
   min-width: 30%;
   list-style: none;
}

.todo {
   margin: 0.5rem;
   background: white;
   font-size: 1.5rem;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 0.6s ease;
}
#todoItem {
   display: inline-block;
   width: 500px;
   text-align: start;
   font-size: 40px;
   font-weight: 600;
   background: #f1f1f1;
   color: #333;
}


/*.bxs-trash {
   width: 50px;
   height: 45.5px;
   font-size: 35px;
   font-weight: 500;
   line-height: 50px;
   background: red;
   border: none;
   color: white;
}
.bx-check {
   width: 50px;
   height: 45.5px;
   font-size: 40px;
   font-weight: 900;
   line-height: 50px;
   border: none;
   background: rgb(11, 212, 162);
   color: white;
}*/

.trash-btn,
.complete-btn {
   padding: 1rem 1rem;
   background-color: #ff6f47;
   font-size: 0.8rem;
   color: white;
   border: none;
   cursor: pointer;
}
.complete-btn {
   background: rgb(26,212,127);
}

/*.fa-trash,
.fa-check {
   pointer-events: none;
}*/

.fall {
   transform: translateY(10rem) rotate(20deg);
   opacity: 0;
}

.completed {
   text-decoration: line-through;
   opacity: 0.5;
}